html, body {
    width: 100vw;
}


.home-page-banner{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../img/full team pics/teampic.jpg");
    background-size:cover;
    min-height: 40vw;
    color: white;
}

.home-page-banner .text-grouping{
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 6vw;
    padding-right: 6vw;
}

.process{
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 6vw;
    padding-right: 6vw;
    letter-spacing: 0.20vw;
    
   
}

.process ol{
    height: 65vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.process li{
    scroll-snap-align: start;
}

.process ol::-webkit-scrollbar{
    background: black;
}
.process ol::-webkit-scrollbar-track{
    background: white;
}
.process ol::-webkit-scrollbar-thumb {
    background: #000000; 
  }

.graphics{

}


.fast-animation{
    animation-duration: 0.4s;
}

.normal-animation{
    animation-duration: 1s;
}

.slow-animation{
    animation-duration: 2s;
}

.header-slide {
    position: relative;
    overflow: hidden;
    transform: perspective(1000px) translateX(-50%) rotateX(90deg);
    animation: enter-text 1s ease forwards;
  }
  
  .header-slide::before {
    content: "";
    position: absolute;
    left: -110%;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: #ff00ff; */
    animation: fill-bg 1s ease forwards;
    transform-origin: left;
  }
  
  @keyframes enter-text {
    0% {
      transform: perspective(1000px) translateX(-50%) rotateX(90deg);
    }
    100% {
      transform: perspective(1000px) translateY(0) rotateX(0);
    }
  }
  
  @keyframes fill-bg {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }


  .image-container{
    position: relative;
  }
  
  .loading-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .loading-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #ccc;
  }
  
  .progress {
    width: 0%;
    height: 100%;
    /* background-color: #ff00ff; */
    transition: width 0.5s ease;
  }
  

@media screen and (max-width:900px) {
    .home-page-banner{
        /* min-height: auto; */
    }
}